data/
output/

./data/monocap/marc_images35000_36200.tar.gz
./data/monocap/lan_images620_1300.tar.gz
./data/easymocap/SMPL_NEUTRAL.pkl
./data/andy/human0.zip
./data/smpl-meta/SMPL_NEUTRAL.pkl
./data/andy2/video.mp4
./output/monocap_test/marc_images35000_36200_100_pose_correction_lbs_offset_split_clone_merge_prune/smpl_rot/iteration_1200/smpl_rot.pickle
./output/monocap_test/marc_images35000_36200_100_pose_correction_lbs_offset_split_clone_merge_prune/smpl_rot/iteration_2000/smpl_rot.pickle
./output/monocap_test/lan_images620_1300_100_pose_correction_lbs_offset_split_clone_merge_prune/smpl_rot/iteration_1200/smpl_rot.pickle
./output/monocap_test/lan_images620_1300_100_pose_correction_lbs_offset_split_clone_merge_prune/smpl_rot/iteration_2000/smpl_rot.pickle
./output/andy/_100_pose_correction_lbs_offset_split_clone_merge_prune/smpl_rot/iteration_1200/smpl_rot.pickle
./output/andy/_100_pose_correction_lbs_offset_split_clone_merge_prune/smpl_rot/iteration_2000/smpl_rot.pickle
./output/andy/andy/smpl_rot/iteration_1200/smpl_rot.pickle
./output/andy/andy/smpl_rot/iteration_2000/smpl_rot.pickle
./output/andy/andy2/smpl_rot/iteration_1200/smpl_rot.pickle
./output/andy/andy2/smpl_rot/iteration_2000/smpl_rot.pickle
./output/andy/andy2/test/ours_2000/renders/animation.gif
./output/andy/andy2/train/ours_2000/renders/animation.gif
./assets/SMPL_NEUTRAL.pkl
